<!DOCTYPE html >
<html>
	<body>
		<title>Moods</title>
		
		<table id="moodTable">
			<!--<tr>
				<td class="no_border_table"></td>
				<td>09:00</td>
				<td>13:00</td>
				<td class="with_double_border">15:00</td>
				<td>09:00</td>
				<td>13:00</td>
				<td class="with_double_border">15:00</td>
				<td>09:00</td>
				<td>13:00</td>
				<td class="with_double_border">15:00</td>
				<td>09:00</td>
				<td>13:00</td>
				<td class="with_double_border">15:00</td>
				<td>09:00</td>
				<td>13:00</td>
				<td>15:00</td>
			</tr>
			<tr>
				<td>Marvin</td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td><img src="/images/sad_icon.png"/></td>
			</tr>
			<tr>
				<td>kek</td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td><img src="/images/sad_icon.png"/></td>
			</tr>
			<tr>
				<td>bur</td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td class="with_double_border"><img src="/images/sad_icon.png"/></td>
				<td><img src="/images/happy_icon.png"/></td>
				<td><img src="/images/angry_icon.png"/></td>
				<td><img src="/images/sad_icon.png"/></td>
			</tr>-->
		</table>
	</body>
</html>