.greeting
{
	margin-left: 28%;
	margin-top: 70px;
	font-size: 32px;
	width: 800px;
}

.username
{
	font-size: 32px;
	width: 150px;
	text-align: center;
}

.emoticons_space
{
	margin-left: 20%;
	margin-top: 70px;
	width: 800px;
}

.happy_image
{
	width: 200px; 
	height: 160px; 
    background-image: url('/images/happy.png');
    background-repeat: no-repeat;
    background-size: contain;
	float: left;
}
.happy_image:hover
{
    background-image:url('/images/happy_lighter.png');
	cursor: pointer;
}

.sad_image
{
	width: 200px; 
	height: 160px; 
    background-image: url('/images/sad.png');
    background-repeat: no-repeat;
    background-size: contain;
	overflow: hidden;
	float: left;
}
.sad_image:hover
{
    background-image:url('/images/sad_lighter.png');
	cursor: pointer;
}

.chill_image
{
	width: 200px; 
	height: 160px; 
    background-image: url('/images/chill.png');
    background-repeat: no-repeat;
    background-size: contain;
	overflow: hidden;
	float: left;
}
.chill_image:hover
{
    background-image:url('/images/chill_lighter.png');
	cursor: pointer;
}

.angry_image
{
	width: 200px; 
	height: 160px; 
    background-image: url('/images/angry.png');
    background-repeat: no-repeat;
    background-size: contain;
	overflow: hidden;
	float: left;
}
.angry_image:hover
{
    background-image:url('/images/angry_lighter.png');
	cursor: pointer;
}
